// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/font-awesome/scss/font-awesome.scss";
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html{
    font-size: 100%;
}

.cursor-pointer{
    cursor: pointer;
  }